@model SchoolTracker.Models.Contact

<head>
    <style>
        body {
            background-image: url(https://static.pexels.com/photos/301943/pexels-photo-301943.jpeg);
            background-size: cover;
        }
    </style>
</head>

@{
    ViewBag.Title = "CONTACT List";
    string FullName;
    if (@Model == null)
    {
        ViewBag.SelectedContact = "";
        FullName = "";
    }
    else
    {
        ViewBag.SelectedContact = Model;
        FullName = ViewBag.SelectedContact.ContactFirstName + " " +ViewBag.SelectedContact.ContactLastName;
    }
}

<br />
<br />
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <div class="aligner-center-horitzontal aligner-center-vertical">
            <h2>@FullName</h2>
        </div>
        <br />
        <img class="rounded-corners" src="http://kern.org/wp-files/wwwstatic/webteam/identity/KCSOSRasterLogos/LGO_KCSOS_H_rgb.jpg" />
        <br />
        <br />
        <br />
    </div>
    <div class="col-xs-6">
        <table class="table table-responsive table-break-medium">
            <tr class="text-small">
                <th>Name</th>
                <th>Title</th>
                <th>Phone</th>
            </tr>

            @foreach (var item in ViewBag.ContactList)
            {
                <tr>
                    <td>@Html.ActionLink((string)item.ContactFirstName + " " + (string)item.ContactLastName, "Index", new { contactId = item.ID })</td>
                    <td>@item.ContactTitle</td>
                    @{ 
                        string lalaland = String.Format("{0:(###) ###-####}", double.Parse(item.ContactPhone));
                    }
                    <td>@lalaland</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-1"></div>
</div>