<head>
    <link href="~/Content/default.css" type="text/css" rel="stylesheet" />
</head>
@{
    ViewBag.Title = "About";
}
<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="auto-style2">@ViewBag.Title</h1>
        <h1 class="auto-style1">@ViewBag.Message</h1>
        <p class="auto-style1">Use this area to provide additional information</p>
    </div>
</body>