<head>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
            color: #fff;
        }
        .auto-style2 {
            text-align: center;
            font-weight: normal;
            color: #fff;
        }
        body {
            background-image: url(../../Images/bridge.jpg);
            background-size: cover;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="auto-style2">SJVAPCD</h1>
        <h1 class="auto-style2">School Tracker Program</h1>
        <p class="auto-style1">Application for Tracking Schools Partnerships</p>
    </div>
</body>