<head>
    <link href="~/Content/default.css" type="text/css" rel="stylesheet" />
</head>
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="auto-style2">SJVAPCD</h1>
        <h1 class="auto-style2">School Tracker Program</h1>
        <p class="auto-style1">Application for Tracking Schools Partnerships</p>
    </div>
</body>