vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Mar 2016 11:25:13 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|SJVAPCD\\simanova
vti_modifiedby:SR|SJVAPCD\\simanova
vti_timecreated:TR|09 Mar 2016 11:25:13 -0000
vti_cacheddtm:TX|09 Mar 2016 11:25:13 -0000
vti_filesize:IR|261269
vti_backlinkinfo:VX|
vti_syncwith_localhost\\\\\\192.168.99.3\\dummyweb$///192.168.99.3/dummyweb$:TW|09 Mar 2016 11:25:13 -0000
